  <table border='5'>
	<th class="column_1"><button type="button">Col 1</button></th>
	<th class="column_2"><button type="button">Col 2</button></th>
	<th class="column_3"><button type="button">Col 3</button></th>
	<th class="column_4"><button type="button">Col 4</button></th>
	<th class="column_5"><button type="button">Col 5</button></th>
	<th class="column_6"><button type="button">Col 6</button></th>
	<th class="column_7"><button type="button">Col 7</button></th>
	
	<tr id="c1" ></tr> 
	
		<td class="circle" id="c11"></td> 
	
		<td class="circle" id="c21"></td> 
	
		<td class="circle" id="c31"></td> 
	
		<td class="circle" id="c41"></td> 
	
		<td class="circle" id="c51"></td> 
	
		<td class="circle" id="c61"></td> 
	
		<td class="circle" id="c71"></td> 
	

	<tr id="c2" ></tr> 
	
		<td class="circle" id="c12"></td> 
	
		<td class="circle" id="c22"></td> 
	
		<td class="circle" id="c32"></td> 
	
		<td class="circle" id="c42"></td> 
	
		<td class="circle" id="c52"></td> 
	
		<td class="circle" id="c62"></td> 
	
		<td class="circle" id="c72"></td> 
	

	<tr id="c3" ></tr> 
	
		<td class="circle" id="c13"></td> 
	
		<td class="circle" id="c23"></td> 
	
		<td class="circle" id="c33"></td> 
	
		<td class="circle" id="c43"></td> 
	
		<td class="circle" id="c53"></td> 
	
		<td class="circle" id="c63"></td> 
	
		<td class="circle" id="c73"></td> 
	

	<tr id="c4" ></tr> 
	
		<td class="circle" id="c14"></td> 
	
		<td class="circle" id="c24"></td> 
	
		<td class="circle" id="c34"></td> 
	
		<td class="circle" id="c44"></td> 
	
		<td class="circle" id="c54"></td> 
	
		<td class="circle" id="c64"></td> 
	
		<td class="circle" id="c74"></td> 
	

	<tr id="c5" ></tr> 
	
		<td class="circle" id="c15"></td> 
	
		<td class="circle" id="c25"></td> 
	
		<td class="circle" id="c35"></td> 
	
		<td class="circle" id="c45"></td> 
	
		<td class="circle" id="c55"></td> 
	
		<td class="circle" id="c65"></td> 
	
		<td class="circle" id="c75"></td> 
	

	<tr id="c6" ></tr> 
	
		<td class="circle" id="c16"></td> 
	
		<td class="circle" id="c26"></td> 
	
		<td class="circle" id="c36"></td> 
	
		<td class="circle" id="c46"></td> 
	
		<td class="circle" id="c56"></td> 
	
		<td class="circle" id="c66"></td> 
	
		<td class="circle" id="c76"></td> 
	



</div>

</div>
</table>
